@model IEnumerable<Lisbeth_Hair_Salon.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statuts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statuts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
