@model IEnumerable<Lisbeth_Hair_Salon.Models.TicketDeVenta>

@{
    ViewData["Title"] = "Tickets";
}

@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#ticketTable').DataTable();
            $('#sumTable').DataTable();
        });
    </script>
}

<h1>Tickets del Dia</h1>


<p>
    <a class="btn waves-effect waves-light" asp-action="Create">Nuevo Ticket</a>
</p>

<table id="ticketTable" class="striped">
    <thead>
        <tr>
            <th>
                Estilista
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
               Nombre del Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surcursal)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.NombreServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surcursal.Nombre)
                </td>
                <td>
                    <a class="btn waves-effect waves-light" asp-action="Details" asp-route-id="@item.TicketId">Detalles</a>
                    <a class="btn waves-effect waves-light" asp-action="Delete" asp-route-id="@item.TicketId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Display the sum of prices by employee -->
<h4>Total del dia</h4>

<table id="sumTable" class="striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Empleada)</th>
            <th>Ganacia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.SumOfPricesByEmployee)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td>@item.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>

<footer class="border-top footer text-muted">
    <div class="container">
        <a class="btn waves-effect waves-light" asp-controller="Login" asp-action="CerrarSesion">Finalizar Dia</a>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $('#ticketTable').DataTable();
        $('#sumTable').DataTable();
    });
</script>


